@import url('../../node_modules/leaflet-fullscreen/dist/leaflet.fullscreen.css');

@import url('../../node_modules/leaflet/dist/leaflet.css');

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(-10px);
  }
}

@keyframes spinner-line-fade-more {
    0%, 100% {
        opacity: 0; /* minimum opacity */
    }
    1% {
        opacity: 1;
    }
}

@keyframes spinner-line-fade-quick {
    0%, 39%, 100% {
        opacity: 0.25; /* minimum opacity */
    }
    40% {
        opacity: 1;
    }
}

@keyframes spinner-line-fade-default {
    0%, 100% {
        opacity: 0.22; /* minimum opacity */
    }
    1% {
        opacity: 1;
    }
}

.d3-tip.show {
  animation-name: show;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

/* d3-tip style */
.d3-tip {
    font-family: sans-serif;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    z-index: 9999999;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip::after {
    box-sizing: border-box;
    position: absolute;
    font-size: 10px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    pointer-events: none;
    z-index: 9999999;
}


rect {
    shape-rendering: crispEdges;
}

text {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.leaflet-control-fullscreen a {
    background-color:#fff;
    background-image: url(../assets/images/fullscreen.png);
    background-repeat: no-repeat;
    background-size:26px 52px;
    background-position: 0px 0px;
}

.leaflet-control {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
